body {
    font-family: 'VT323', monospace;
    background-image: 
}

main {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculation {
    border: 2px solid black; 
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(52, 165, 120, 0.25)
} 

h1, h2 {
    display: flex;
    justify-content: center;
    color: black}

h1 {
    font-size: 50px;
    
}

h1:hover {
    font-size: 75px;
    transform: rotate(180deg);
}

button {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px; 
    cursor: pointer;
}

button:hover {
    background-color: red;
    padding: 20px; 
}

input {
    padding: 10px;
    background-color:rgba(145, 41, 76, 0.5);
    border-radius: 5px;
    color: black
}